@media (max-width: 767px){
  
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  button {
    font-size: 16px;
  }

    .hero-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 147px;
        padding-bottom: 182px;
        background-image: url(./img/StarMobile.png), url(./img/Star2.png), url(./img/Star3.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: right top, calc(100% - 79px) calc(100% - 34px), 64px 37px;
        background-size: auto, 100px, 100px;

        &__title {
            font-size: 40px;
            text-align: center;
            line-height: 48.76px;
            max-width: 262px;
            margin-bottom: 24px;
        }
        &__subtitle {
            font-size: 16px;
            line-height:19.5px;
            max-width: 296px;
            margin-bottom: 36px;
            text-align: center;
        }

  }  


}