* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.center {
  padding-left: calc(50% - 600px);
}

.button-primary {
  background-color: #202027;
  color: white;
  border-radius: 60px;
  padding: 16px 65px;
}

.hero-page {
  padding-top: 196px;
  padding-bottom: 246px;
  background-color: #E1FF8F;
  color: #202027;
  background-image: url("./img/Star1.png"), url("./img/Star2.png"), url("./img/Star3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top, calc(100% - 344px) 538px, 63px 69px;
}
.hero-page__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  max-width: 769px;
  margin-bottom: 24px;
}
.hero-page__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 720px;
  margin-bottom: 48px;
}

.game {
  background-color: #202027;
  color: #FFFFFF;
  background-image: url("./img/Star4.png"), url("./img/Star5.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right 77px, left 770px;
}
.game__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 72px;
}
.game__cards_bottom {
  align-items: flex-end;
  margin-top: 0;
}
.game__card {
  width: 378px;
  height: 473px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 30px;
  position: relative;
}
.game__card_long {
  height: 512px;
}
.game__card_longer {
  height: 551px;
}
.game__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.game__title {
  font-size: 64px;
  font-weight: 700;
  padding-top: 94px;
}
.game__subtitle {
  height: 96px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}
.game__button {
  background-color: #F7F7F7;
  width: 108px;
  height: 36px;
  padding: 8px 16px 10px 16px;
  gap: 0px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-left: 32px;
}
.game__name {
  color: #202027;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 36px;
  margin-left: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  button {
    font-size: 16px;
  }
  .hero-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 147px;
    padding-bottom: 182px;
    background-image: url(./img/StarMobile.png), url(./img/Star2.png), url(./img/Star3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right top, calc(100% - 79px) calc(100% - 34px), 64px 37px;
    background-size: auto, 100px, 100px;
  }
  .hero-page__title {
    font-size: 40px;
    text-align: center;
    line-height: 48.76px;
    max-width: 262px;
    margin-bottom: 24px;
  }
  .hero-page__subtitle {
    font-size: 16px;
    line-height: 19.5px;
    max-width: 296px;
    margin-bottom: 36px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */