* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.center {
    padding-left: calc(50% - 600px);
}

.button-primary {
    background-color: #202027;
    color: white;
    border-radius: 60px;
    padding: 16px 65px;
}

.hero-page {
    padding-top: 196px;
    padding-bottom: 246px;
    background-color: #E1FF8F;
    color: #202027;
    background-image: url("./img/Star1.png"), url("./img/Star2.png"), url("./img/Star3.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right top, calc(100% - 344px) 538px, 63px 69px;

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78.02px;
        max-width: 769px;
        margin-bottom: 24px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        max-width: 720px;
        margin-bottom: 48px;
    }
}

.game {
    background-color: #202027;
    color: #FFFFFF;
    background-image: url("./img/Star4.png"), url("./img/Star5.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 77px, left 770px;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 72px;
        &_bottom {
            align-items: flex-end;
            margin-top: 0;
        }
    }

    &__card {
        width: 378px;
        height: 473px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 30px;
        position: relative;
        &_long {
            height: 512px;
        }
    
        &_longer {
            height: 551px;
    
        }
    }

    &__link {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        padding-top: 94px;
    }

    &__subtitle {
        height: 96px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
    }

    &__button {
        background-color: #F7F7F7;
        width: 108px;
        height: 36px;
        padding: 8px 16px 10px 16px;
        gap: 0px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
        margin-left: 32px;
    }

    &__name {
        color: #202027;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 36px;
        margin-left: 32px;
    }
}

@import 'mobile';